<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style/style.css">
        <script src="js/login.js"></script>
    </head>
    <body>
        <div id="main">
            <h1>Welcome!!!</h1>
            <input id="name"type="text" placeholder="Nick">
            <input id="id" type="text" placeholder="Room ID">
            <button onclick="login()">Play</button>

        </div>
        <div id="game" style="display: none;">

        </div>
    </body>
</html>